<h1>Ma Todolist</h1>
<div>
  <div class="container1">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Todo</span>
      </div>
      <input
        type="text"
        [formControl]="todo"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
      />
    </div>
  </div>
  <button (click)="addTodo()" type="submit" class="btn btn-danger">
    Ajouter
  </button>
</div>

<div class="container2">
  <div *ngFor="let todo of todos; let i = index" class="input-group-text">
    <span>Fait</span>

    <input
      type="checkbox"
      (click)="deleteTodo(i, todo._id)"
      aria-label="Checkbox for following text input"
      class="check"
    />
    <input
      type="text"
      [(ngModel)]="todo.todo"
      class="liste"
      [value]="todo.todo"
    />

    <button
      type="submit"
      (click)="updateTodo(i, todo)"
      class="btn btn-warning">Modifier
    </button>
  </div>
</div>
