body {
  /*   background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    background-size: cover; */
    background-image: url(../src/assets/table-bureau-vue-dessus-accessoires-bureau-espace-copie_67155-571.jpg);
    background-size: cover;
  }